footer
  .container
    .footA
      h2 終末旅行TRPG
      p: a(href="https://lostrpg-751c1.firebaseapp.com/lost") https://lostrpg-751c1.firebaseapp.com/lost/
      nav.footD
        ul
          li: a(href="https://twitter.com/hibohiboo" target="_blank"): span.fab.fa-twitter(title="Twitter")
          li: a(href="https://github.com/hibohiboo/lostrpg" target="_blank"): span.fab.fa-github(title="Github")
    nav.footB
      div
        h3 プレイヤーセクション
        ul
          li: a(href="rulebook.html#first")  はじめに
          li: a(href="rulebook.html#world")  ワールド
      div
        h3 セッションの流れ
        ul
          li: a(href="rulebook.html#campF")  旅立ちフェイズ
          li: a(href="rulebook.html#exploration")  道中フェイズ
          li: a(href="rulebook.html#campF")  出会いフェイズ
          li: a(href="rulebook.html#battle") 戦闘
          li: a(href="rulebook.html#lastbattle")  決戦フェイズ
          li: a(href="rulebook.html#ending")  結果フェイズ
          li: a(href="rulebook.html#afterplay")  セッション終了
          li: a(href="rulebook.html#implove")  キャラクターの成長
      div
        h3 ゲームマスターセクション
        ul
          li: a(href="rulebook.html#make-boss")  ＜ヌシ＞の作成
          li: a(href="rulebook.html#FAQ")  FAQ
          li: a(href="rulebook.html#ref")  参考作品
          li: a(href="rulebook.html#sample-scenario")  サンプルシナリオ
      div
        h3 その他
        ul 
          li: a(href="rulebook.html#history")  更新履歴
    .footC © hibohiboo. All rights.
