.container
  .container-small
    a.headA(href="index.html") 終末旅行TRPG
    button.headC(type="button")
      span.fa.fa-bars(title="MENU")
  //- ナビゲーションリンク
  nav.headB
    ul
      li: a(href="index.html") トップ
      li: a(href="rulebook.html") ルールブック
