section.hero-header
  //- div.container と同じ意味。 divは省略される。
  .container
    //- サイト名
    h1 終末旅行TRPG
    //- キャッチコピー
    p ～白地図の足跡（仮）～ 
    a(href="rulebook.html") ルールブックを開く
    .yun_c
      a(href="http://www.yunphoto.net") Photo by (c)Tomo.Yun &nbsp;
