section#overview.conB
  div.container
    .text
      span.icon: span.fa.fa-book
      h2 ルールブック
      p 廃墟を巡る終末旅行TRPG。
      a(href="#rulebook") more... #[span.fas.fa-chevron-right]

    .text
      span.icon: span.fa.fa-gamepad
      h2 シナリオ
      p すぐに遊べるサンプルシナリオを公開予定。
      a(href="#scenario") more... #[span.fas.fa-chevron-right]


