h2#first はじめに
p 
  | 「10年前、ここはニホンと呼ばれていたと父から聞いた。#[br]
  | 　ウミというものに、ニホンは囲まれているらしい。#[br]
  | 　どこまでも果てのない塩水の水たまり。#[br]
  | 　母に見せてもらったシャシンはとても綺麗で。#[br]
  | 　僕もこの目でウミを見てみたいと思った」#[wbr] ――海を目指す旅人の少年
p
  | 文明崩壊から１０年。
  | 変貌した世界の白地図に足跡を残すのは、成長した子供たち。
p
  | 本ゲームは、文明崩壊後の日本を旅する人々を演じるゲームです。
  | プレイヤーの分身であるキャラクター（以下、PC)は、
  | 森をかきわけ、砂漠を越え、河を渡って、廃墟を巡る旅人となります。
h2#commonRule このルールの読み方
h3 かっこの種類
ul 
  li 【】：キャラクターの能力値やアビリティを表します。
  li 《》：特技を表します。
  li ＜＞：このゲームで使われる固有名詞を表します。
h3 端数の処理
p このゲームでは、割り算を行う場合常に端数は切り上げになります。
h3 用語
  dl
    dt ROC
    dd ロール・オア・チョイスの略。ダイスを振らずに結果を決められます。
    dt nd10
    dd 10面ダイスをn個ふること。2d10なら２個のダイスを振ることとなります。