// 基本色
:root {
  --main-color: #5D9AB2;
  --accent-color: #BF6A7A;
  --dark-color: #2B5566;
  --text-bright-color: #fff; // テキストの色
  --icon-color: #fff;        // アイコンの色
  --icon-bk-color: #ddd;     // 丸型ボックスの色
  --gray-color: #ddd;
  --large-width: 1000px;       // 横幅の最大値
  --middle-width: 800px;
}
