extends includes/common/_layout
block title
  include includes/common/variables
  include includes/rulebook/variables
  title= title

block headjs
  include includes/common/chart
block body
  body.nohero
    header
      include includes/common/header
    main#main
      section.content
        .container
          h1 終末旅行TRPG 基本ルールブック
          include includes/rulebook/first
          h2 キャラクター
          p あなたの分身となる旅人の作り方
          h2 クラス
          .listB
            .container
              each obj in classList
                article
                  a(href="#")
                    .image(style="background-image: url('../assets/images/" + obj.image + "');")
                    .text
                      h2= obj.name
                      p= obj.description
    include includes/common/footer